#svgSample {
  background: #d2d2d2;
}
#svgSample circle {
  fill: red;
  stroke: black;
}
#svgSample line {
  stroke: black;
}

.basicCircle {
  fill: grey;
  stroke: black;
}

.chart {
  font: 9px monospace;
  ;
}

.chart svg {
  position: absolute;
  top: 0;
}

.node circle {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle.noChildren {
  fill: #eee;
}

.node text {
  fill: #333;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.oef2_cirkel {
  fill: grey;
  stroke: black;
}
.oef2_cirkel_enter {
    fill: red;
    stroke: black;
}
.oef2_cirkel_update {
    fill: green;
    stroke: black;
}

svg {
    font-size: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}
.bar_checked {
  fill: red;
}

.x.axis path {
  display: none;
}