.chart {
  font: 9px monospace;
  ;
}

.chart svg {
  position: absolute;
  top: 0;
}

.node circle {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle.noChildren {
  fill: #eee;
}

.node text {
  fill: #333;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}